#diorLogo {
  margin-bottom: 4px;
}

#jumbotronImage {
  margin-top: 9vw;
}

.jumbotron {
  margin-bottom: 0 !important;
}

#video {
  margin-bottom: 4rem;
}

.pricingPanel {
  margin-bottom: 1em;
}

.lead {
  margin-bottom: 0 !important;
}

.buyItem {
  margin-bottom: 1rem;
}

.price {
  margin-top: 1rem;
}
